@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:host {
  @apply fixed w-full h-screen pointer-events-none pin-t pin-l;
}


.backdrop {
  transition: opacity 0.5s ease-out;
}

.ez-modal {
  left: 0;
  box-sizing: border-box;
}

@screen md {
  .ez-modal {
    left: calc(50% - 25%);
  }
}
